{% extends 'accounts/base.html' %}
{% block content %}
<h2>Вход</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label }}</label>
        {{ field }}
        {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
    {% endfor %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}<p class="error">{{ error }}</p>{% endfor %}
    {% endif %}
    <button type="submit">войти</button>
</form>
<p style="margin-top:15px;">Нет аккаунта? <a href="{% url 'register' %}">зарегистрироваться</a></p>
{% endblock %}
