{% extends 'accounts/base.html' %}
{% block content %}
<h2>Регистрация</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}<ul>{% for line in field.help_text.split %}<li>{{ line }}</li>{% endfor %}</ul>{% endif %}
        {% for error in field.errors %}<p class="error">{{ error }}</p>{% endfor %}
    {% endfor %}
    <button type="submit">зарегистрироваться</button>
</form>
<p style="margin-top:15px;">Уже есть аккаунт? <a href="{% url 'login' %}">войти</a></p>
{% endblock %}
